.filter {
  display: flex;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem 3rem;
  background-color: white;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  box-shadow: var(--style-shadow);
  margin-top: -2rem;
  gap: 2rem;
  min-height: 5rem;

  @media screen and (max-width: 950px) {
    width: 95%;
    padding: 3rem 2rem;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__clear {
    font-weight: 700;
    color: var(--primary-cyan);
    cursor: pointer;
    transition: var(--style-transition);
    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: 400px) {
      display: none;
    }
  }
}
